mixin sStepsBody(t, p)
	// start sSteps
	+b.SECTION.sSteps.section#sSteps&attributes(attributes)
		.container
			+b.section-title
				h2 Хотите заказать лестницы из натурального камня?
				span Мы поможем вам, следуйте нашей инструкции
				hr
			block
	// end sSteps
mixin group(t,p, cl)
	+e.group&attributes(attributes)(style='background-image: url(img/@2x/step-bg.jpg);')
		+e.group-head
			+e.group-title!= t
			+e.group-text!= p
		+e.group-body(class= cl)
			block
mixin sSteps(data)
	+sStepsBody('Хотите заказать лестницы из натурального камня?', 'Мы поможем вам, следуйте нашей инструкции')
			+group(`Выбор породы камня`,`Для каждой среды подходит определенная порода натурального камня&nbsp;с&nbsp;определенными характеристиками. Мы&nbsp;поможем вам немного разобраться&nbsp;в&nbsp;этом.`)(style='background-image: url(img/@2x/step-bg.jpg);')
					.roww
						.col-lg-6.text-center
							+pic("gr-1.png",'',0)
						.col-lg-6
							+e.block1
								.typography
									h2.strong.border-line Уличное использование
									p Чаще всего такие лестницы выполнены в натуральном камне гранит с термо обработанной поверхностью, так как такая поверхность нескользкая, а гранит долговечен и устойчив к неблагоприятной среде.

									p Эти лестницы вы можете встречать каждый день входя в торговый центр, офисное здание, музей, театр, государственное учреждение и в дом, дачу, усадьбу.
							+e.block 
								
								strong.ttu Важно!
								p Ни в коем случае на такие лестницы нельзя использовать материалы в обработке полировка, так как при попадании влаги на поверхность, она становится скользкой “как лёд”.
					+e.block2
						.roww
							.col-lg-6
								.typography
									h2.strong.border-line Внутреннее использование
									ul.List-style  
										li
											strong.ttu Коммерческое использование
											| В большинстве случаев такие лестницы сделаны из гранита, так как он прочнее и дольше служит. Однако, мрамор так же используют во внутренней отделке, но его характеристики менее устойчивы к истераимости, поэтому, в коммерческом плане, выгоднее именно гранит.
										li
											strong.ttu ЧАстное использование
											| В частном секторе наиболее популярный материал является мрамор, но и травертин, оникс, гранит так же применяют. Мрамор менее плотный материал, чем гранит, его характеристики позволяют быстро впитывать тепло комнатной температуры, что создает уют.
									
							.col-lg-6
								+pic("9b54c10b4015adaaeccb7da77c3d8fa9.png",'',0).hr-picture
			+group(` Выбор материала`,` Выберите понравившийся материал из нашего каталога и его толщину, чаще всего используют 30мм, но можно и 20мм`) 
		
				block
			+group(`Размеры для просчета`,` Существует несколько видов лестниц из&nbsp;натурального камня и&nbsp;в&nbsp;каждом виде есть свои особенности`, 'sSteps__group-body--cards ')(style='background-image: url(img/@2x/step-bg.jpg);')
					.roww
						mixin item(i, t, p)
							+e.col.col-lg-4.col-sm-6
								+b.card-item
									+pic(`type-${i}.jpg`,'',0)
									+e.caption
										+e.title.border-line= t
										p= p 
										block
						+item(`1`,`Прямая`,`Прямая лестница - самый простой вид как в производстве, так и в монтаже. В такой лестнице чаще всего все элементы прямые.`)
						+item(`2`,`Радиусная`,`Радиусная лестница может быть разного уровня сложности: `)
							p #[strong 1. Простой вариант] - ступени одинаковой формы и чаще всего одного вида. 
							p #[strong 2. Сложный вариант] - все элементы могут быть разной формы.
						
						+item(`3`,`Подвесная`,`Подвесная - этот вид может быть как простым, так и сложным.`)
							p #[strong 1. Простой вариант] - на подвесное готовое основание сверху устанавливается камень.
							p #[strong 2. Сложный вариант] - может включать в себя разную форму ступеней, а так же основание необходимое скрыть со всех сторон.

			+group(`Элементы лестниц`,` Каждая лестница состоит из&nbsp;нескольких элементов. Для точного просчета нужно не&nbsp;забыть учесть все элементы.`)(style='background-image: url(img/@2x/step-bg.jpg);')
					+e.line 
						.roww
							+b.section-title.col-xl-5  
								h3  Ступени
								hr
							.col
								.roww.gx-0 
									+e.line-item.col-sm
										img(src="img/svg/schema-1.svg", alt="")
										+e.line-item-title Прямой 
									+e.line-item.col-sm
										img(src="img/svg/schema-2.svg", alt="")
										+e.line-item-title Радиусные 
									+e.line-item.col-sm
										img(src="img/svg/schema-3.svg", alt="")
										+e.line-item-title Трапецивидные 
					+e.line 
						.roww
							+b.section-title.col-xl-5  
								h3  Подступенок
								hr
							.col
								.roww.gx-0 
									+e.line-item.col-sm
										img(src="img/svg/schema-4.svg", alt="")
										+e.line-item-title Прямой
								
									+e.line-item.col-sm
										img(src="img/svg/schema-5.svg", alt="")
										+e.line-item-title Радиусный с располировкой
									+e.line-item.col-sm
										img(src="img/svg/schema-6.svg", alt="")
										+e.line-item-title Радиусный без располировки
								
					+e.line 
						.roww
							+b.section-title.col-xl-5  
								h3  Колошница
								hr
								p Это пристенный плинтус, который устанавливается на ступень с видимым верхним торцом.
							.col
								.roww.gx-0 
									+e.line-item.col-sm
										
											img(src="img/svg/schema-7.svg", alt="")
											+e.line-item-title По контуру угла лестницы
						
									+e.line-item.col-sm
										
											img(src="img/svg/schema-8.svg", alt="")
											+e.line-item-title По контуру ступени
						
	// end sSteps
	
mixin sSteps2(data)


	+sStepsBody('Как выбрать материал для ваших полов?', 'Мы поможем вам, следуйте нашей инструкции')
			+group(`Выбор породы камня`,`В каждой среде отдельная порода камня чувствует себя лучше.`)(style='background-image: url(img/@2x/step-bg.jpg);')
					.roww
						.col-lg-6.text-center
							+pic("stone-1.png",'',0)
						.col-lg-6
							+e.block1
								.typography
									h2.strong.border-line Уличное использование
									ul.List-style  
										li
											strong.ttu Для дорожки, площадки, лестницы
											| Правильным и практичным вариантом использования натурального камня в таких зонах, как дорожка, площадки, лестница, является гранит.
										li
											strong.ttu Влажные зоны улицы
											| В зонах прямого попадания влаги (дождь, снег и т.д.) обязательным условием для эксплуатации является термообработка поверхности или бучардирование, так как такая поверхность нескользкая и дает возможность смелого использования пешеходной зоны.
							+e.block 
								
								strong.ttu Важно!
								p Ни в коем случае на такие лестницы нельзя использовать материалы в обработке полировка, так как при попадании влаги на поверхность, она становится скользкой “как лёд”.
					+e.block2
						.roww
							.col-lg-6
								.typography
									h2.strong.border-line Внутреннее использование
									ul  
										mixin li(i,t,p)
											li.roww.mb-4
												.col-auto 
													+pic(`i-${i}.jpg`)
												.col
													strong.ttu.mb-1= t
													= p
										+li(`1`,`Мрамор`,`Предпочтительный вид отделки пол во всех помещениях (холлы, прихожая, ванная, санузелы, коридоры и т.д.)`)
										+li(`2`,`Травертин`,`Больше любит мокрые зоны, предпочтителен для санузлов, душевых, массажных, СПА зон.`)
										+li(`3`,`Кварцит и гранит`,`Гранит чаще применяют в торговых и бизнес центрах, офисах и т.д., а кварцит в домах, коттеджах и квартирах с ракладкой рисунком “букматч”.`)
										+li(`4`,`Оникс`,`Чаще всего применяют как декоративное панно и устанавливают с подсветкой.`)
							.col-lg-6
								+pic("stone-2.png",'',0).hr-picture.hr-picture--2
			+group(` Выбор материала`,` Выберите понравившийся материал из нашего каталога и его толщину, чаще всего используют 30мм, но можно и 20мм`) 
		
				block
			+group(`Размеры для просчета`,` Существует несколько видов полов из натурального камня и в каждом виде есть свои особенности.`, 'sSteps__group-body--cards2 ')(style='background-image: url(img/@2x/step-bg.jpg);')
					.roww
						mixin item(i, t, p)
							+e.col.col-xl-6
								+b.card-item--horizontal
									+pic(`size-${i}.jpg`,'bg',0)
									+e.caption
										+e.title.border-line= t
										p= p 
										block
						+item(`1`,`Брусчатка`,`В 95% случаев брусчатка используется из гранита. Ее коммерческие размеры:`)
							ul
								li — 50х50х50
								li — 100х100х50
								li — 100х100х100
								li — 100х200х50
							p Она бывает:
							ul
								li  — колотая
								li — колото-пиленная
								li — полнопиленная термо 
							p Чаще всего используется на зонах повышенной нагрузки или на узких дорожках.


						+item(`2`,`Модульная плитка`,`Один из бюджетных вариантов полов в любых зонах из любой породы камня. Ее коммерческие размеры:`)
							ul 
								li — 300х300
								li — 300х600
								li — 600х600
								li — 800х800
							p Разной толщины от 10 до 30 мм. Низкая цена, простота укладки.
						+item(`3`,`Слэбная укладка`,`Самый востребованный и эстетичный аариант укладки полов из натурального камня. `)
							p  Цельные листы слэбов режут на крупные форматы, тем самым, сохраняют уникальность рисунка одного слэба, а а некоторых случаях при возможности "букмача" удается создать не прерывный и неповторимый ковер на всей площади помещения.
						+item(`4`,`Художественные полы`,`Редкий, дорогой, но уникальный способ создания резных полов.`)
							p Такой пол изготавливают с помощью WaterJet (гидрообразивной резки) из материалов разного цвета в любую задуманную форму.

			+group(`Дополнительно`,`Выберите дополнительные элементы для полов.`, 'sSteps__group-body--cards ')(style='background-image: url(img/@2x/step-bg.jpg);')
					.roww
						mixin item(i, t, p)
							+e.col.col-lg-4.col-sm-6
								+b.card-item
									+pic(`type-${i}.jpg`,'',0)
									+e.caption
										+e.title.border-line= t
										if p
											p= p 
											block
						+item(`2-1`,`Плинтус`)
						+item(`2-2`,`Фриз`) 
						
						+item(`2-3`,`Художественный фриз`) 
						
	// end sSteps
